div.box {
	border: 1px solid #EEE;
	padding: 25px;
	margin: 10px;
	border-radius: 5px;
}
p.box {
	border: 2px solid black;
	padding: 10px;
}
button.inline {
	margin-top: 17px;
}
.inline {
	display: inline-block;
}
p.inline {
	margin-top: 10px;
}
table {
	text-align: center;
}
th {
	text-align: center;
}
th, td {
	font-size: 15px;
}
.navbar-static-top {
	margin-bottom: 0px;
}
div.alert {
	text-align: center;
}
input.link, input.nav-link {
	background: none;
	border: none;
}
input.link:hover {
	text-decoration: underline;
}
input.nav-link {
	outline: none;
}